*{
    margin: auto;
    height: 100%;
    width: 100%;
}

body{
    background-image: url("./images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 50%;
    padding: 15px;
    border-radius: 8%;
    font-family: "Hemi_head_bd_it";
}

@font-face {
    font-family: "Hemi_head_bd_it";
    src: url("./fonts/tipo_admin.ttf");
}